<h1 class="title">Whitelists</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @whitelist.email %>
</p>

<%= link_to 'Edit', edit_whitelist_path(@whitelist) %>
<%= link_to 'Back', whitelists_path, class: "grey button"  %>
