


<div class="card" id="home-card">
    <h1>CARPOOL HOME</h1>
    <br><br>
    <p>
        Click the link below to submit a new ride request
    </p>
    <%= link_to 'Request a Ride', new_request_path, :class => "green-button large" %>
</div>

<% if not current_member %>
    <div class="horiz-container medium-margins">
        <%= link_to "Login", new_member_session_path, :class => "grey-button small-margins" %>
        <%= link_to "Create Account", new_member_registration_path, :class => "grey-button small-margins" %>
    </div>
<% end %>
