<h1 class="title">Editing Request</h1>

<%= render 'form', request: @request %>

<%= link_to 'Show', @request %>
<% if not current_member %>
	<%= link_to 'Go To Queue', root_path %>
<% else %>
	<%= link_to 'Back To Requests', requests_path %>
<% end %>

