<h1 class="title">Request a Ride</h1>

<div class="small card">
    <br>
    <h2 class="urgent">IMPORTANT INFORMATION</h2>
    <p>
        <em>If you are in an emergency, please call 911</em><br>
        <ul>
            <li>CARPOOL operate Fridays and Saturdays from 10pm-3am during the A&M Fall and Spring school semesters only.</li>
            <li>We provide rides to anyone in the Bryan/College Station area whether you are intoxicated or not.</li>
            <li>We will only take you to where you are staying from the night. We take you home from the party, not to it.</li>
        </ul>
    </p>
</div>

<br><br>

<%= render 'form', request: @request %>
<%= link_to 'Back', :back, class: "grey button" %>