<h1 class="title">Your Points</h1>

<br><br>

<div class="card horiz">
    <div class="centered">
        <h2> You have given</h2>

        <% if @current_member.leaderboard_points.nil? %>
            <h1 class="green-text"> 0 </h1>
        <% else %>
            <h1 class="green-text"> <%= @current_member.leaderboard_points.to_i %> </h1>
        <% end %>
    
        <h2> rides so far </h2>
    </div>
</div>

<br><br>

<%= link_to 'Back', :back, class: "grey button" %>