<h1>New Rider</h1>

<%= render 'form', rider: @rider %>

<%= link_to 'Back', :back, class: "grey button" %>

<br><br>

Note: Any format 10-digit number format works, but remember the way you entered it, for future purposes.